<center>
<h1>Products#show</h1>
<h1><%= @product.name %></h1>
<p><%= @product.price %></p>
<p><%= @product.category %></p>
<p><%= @product.description %></p>
<p><%= @product.quantity %></p>
<%= link_to "Edit details",  edit_product_path(@product) %><br>
<%= link_to "Destroy", product_path(@product), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure?"
	} %>

<div>
  <%= link_to "Back to products", products_path %>
</div></center>
